:root {
    --black-mask: rgba(0, 0, 0, 0.75);
    --card-mask: rgba(0, 0, 0, 0.9);
}

body {
    margin: 0;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    background-image: url('../src/assets/deli.jpg');
    background-attachment: fixed;
    background-size: cover;
}

img.background-image {
    width: 100vw;
    height: 100vh;
    position: absolute;
    z-index: -1;
    opacity: 0.75;
}

/* Content formatting */
#content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100vh;
}

/* Header formatting */
.header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* gap: .5rem; */
    padding-bottom: 1rem;

    background-color: var(--black-mask);
}

.header > nav {
    display: flex;
    flex-direction: row;
    gap: 2rem;
}

.header > h1 {
    font-size: 4rem;
    font-family: cursive;
    color: white;
}

.header > nav > button {
    background-color: gray;
    color: black;
    padding: .5rem 1rem;
    border-radius: 1rem;
    border: none;
    font-size: 1.5rem;
}

.header > nav > .page-0:hover {
    background-color: rgb(0, 145, 0);
}
.header > nav > .page-1:hover {
    background-color: rgb(175, 175, 175);
}
.header > nav > .page-2:hover {
    background-color: rgb(145, 0, 0);
}

.header > nav > .page-0:active {
    background-color: rgb(100, 255, 100);
}
.header > nav > .page-1:active {
    background-color: rgb(255, 255, 255);
}
.header > nav > .page-2:active {
    background-color: rgb(255, 100, 100);
}

/* Canvas formatting */
#canvas {
    color: white;
    background-color: var(--black-mask);;
    align-self: center;
}

/* Footer formatting */
.footer {
    text-align: center;
    color: white;
    background-color: var(--black-mask);;
    margin-bottom: auto;
    padding: 0.5rem 0.5rem;
    margin-bottom: 0;
}

.footer > a {
    color: white;
}

/* Homepage canvas formatting */
#canvas > .chefPic {
    /* height: 200px;
    border-radius: 50%; */
    object-fit: cover;
    border-radius: 50%;
    height: 15rem;
    width: 15rem;
}

#canvas.homepage {
    padding: 3rem 6rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#canvas.homepage > p {
    font-size: large;
}

/* Menu canvas formatting */
#canvas.menu {
    display: grid;
    grid-template-columns: repeat(2, 15rem);
    grid-template-rows: auto;
    gap: 5rem;
    margin: 1rem 0;
    padding: 2rem 8rem;
}

#canvas.menu > .card {
    background-color: var(--card-mask);
    padding: 2rem 2rem;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

#canvas.menu > .card > .card-title {
    font-size: 1.5rem;
    font-weight: bold;
}

#canvas.menu > .card > .card-content {
    font-style: italic;
}

#canvas.menu > .card > img {
    height: 100px;
}

/* Contact canvas formatting */
#canvas.contact {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 3rem 3rem;
}